body
{
    margin:0;
}

nav
{
    background-color: hotpink;
    position: fixed;
    width: 100%;
    top: 0;
}

#header
{
    text-align: center;
    color:darkred;
    margin:10px;
}

#menu
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color:blue;
}

.plot
{
    margin:10px;
}

.plot:hover
{
    cursor: pointer;
    text-decoration: overline;
    color: yellow;
}

#container
{
    max-width:100%;
    height:500px;
    margin-top:150px;
}